* {
  box-sizing: border-box;
  margin: 0em;
  padding: 0em;
}
body {
  overflow: hidden;
}
canvas {
  margin-top: 1rem;
  border: 1px solid black;
}
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;

  border: 4px solid #fff;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 5px;

}

input:checked {
  border: 4px solid rgba(80, 178, 228, 0.82);
}

.black {
  background-color: black;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
textarea {
  border: none;
}
textarea:focus {
  outline: none;
  padding: 0;
}
.crosshair-cursor {
  cursor: crosshair;
}
.hide {
  display: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown label {
  transition: all .5s ease;
}
.dropdown:hover > label {
  background-color: rgba(228, 228, 228, 0.82);
}
.dropdown input:checked + label {
  background-color: rgba(228, 228, 228, 0.82);
}
li.dropdown {
  display: inline-block;
  /* color: rgba(0,0,0,0.2); */
}
.fas {
  color: rgba(0,0,0,0.8);
}
.dropdown-content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: all 0.3s ease;
}

.dropdown-content-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  transition: all 0.3s ease;
}
label {
  cursor: pointer;
}
.dropdown > input:checked ~ .dropdown-content {
  opacity: 1;
  visibility: visible;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
label i, label span, .dropdown-content-item input, .dropdown-content-item label {
  vertical-align: middle;
}
textarea {
  border: 1px solid black;
}
.absolute {
  position: absolute;
}
.button {
  background-color: #333333; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.mt-2 {
  margin-top: 2em;
}
.input {
  height: 34px;
  font-size: 14px;
}